main {
  color: #6F4A2A;
  width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 20px auto;
}

.img5 {
  background-image: url("img/mitumori.jpg");
  background-size: cover;
  width: 500px;
  height: 380px;
  margin: 20px auto 100px auto;
}

@media screen and (max-width: 425px) {
  main{
    width: 100%;
  }
  .img5 {
    width: 250px;
  }
}