.box {
  width: 500px;
  margin: 20px auto;
  color: #6F4A2A;
  font-family: Meiryo;
}

.sirokuro {
  background-image: url("img/sirokuro.jpg");
  width: 500px;
  height: 380px;
  background-size: cover;
}

h2 {
  margin: 20px 0;
  text-align: center;
}
