* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #5BA6B5;
  position: relative;
}

.social {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 0px;
}

body {
  background-color: #E5E2DA;
}
.social i {
  color: #E5E2DA;
  margin-right: 20px;
  font-size: 30px;
}

.main-visual {
  background-image: url(img/shop.JPG);
  background-size: cover;
  height: 250px;
  background-position: center;
  position: relative;
}

h1 {
  color: #E5E2DA;
  font-family: Meiryo;
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 100px;
}

.main-visual-text {
  color: #E5E2DA;
  font-size: 30px;
  position: absolute;
  bottom: 50px;
  right: 100px;
}
.main-visual-text p {
  letter-spacing: 0.05em;
}

.contents {
  display: flex;
  width: 830px;
  margin: 50px auto;
}

.sidebar {
  width: 250px;
  margin-right: 20px;
}

.profile {
  text-align: center;
  height: 200px;
  margin-bottom: 20px;
  background-color: #839C74;
  padding: 10px;
  color: #E5E2DA;
}

.voice {
  height: 640px;
  background-color: #D0AE76;
  padding: 10px;
}

.voice-box {
  font-size: 16px;
}

.voice h3 {
  text-align: center;
  color: #6F4A2A;
  padding-bottom: 10px;
}

.voice-box {
  padding-bottom: 10px;
}

.voice-box p {
  color: #6F4A2A;
  font-size: 12px;
}

.service-box {
  width: 560px;
  display: flex;
  padding: 10px;
  background-color: #E4DACD;
  margin-bottom: 20px;
  color: #6F4A2A;
}

.service-box:last-child {
  margin-bottom: 0;
}

.img1 {
  background-image: url(img/cleaning.jpg);
  background-size: cover;
  width: 250px;
  height: 180px;
  margin-right: 20px;
}

.img2 {
  background-image: url(img/airon.jpg);
  background-size: cover;
  width: 250px;
  height: 180px;
  margin-right: 20px;
}

.img3 {
  background-image: url(img/takuhai.jpg);
  background-size: cover;
  width: 250px;
  height: 180px;
  margin-right: 20px;
}

.img4 {
  background-image: url(img/epron.jpg);
  background-size: cover;
  width: 250px;
  height: 180px;
  margin-right: 20px;
}



footer {
  width: 100%;
  height: 50px;
  background-color: #5BA6B5;
  text-align: center;
  color: #E5E2DA;
  padding-top: 10px;
}
