.main-visual {
  background-image: url(img/shop.JPG);
  background-size: cover;
  height: 250px;
  background-position: center;
  position: relative;
}

h1 {
  color: #E5E2DA;
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.main-visual-text {
  color: #E5E2DA;
  font-size: 30px;
  position: absolute;
  bottom: 25px;
  right: 50px;
}
.main-visual-text p {
  letter-spacing: 0.05em;
}

.contents {
  display: flex;
  width: 830px;
  margin: 50px auto;
}

.sidebar {
  width: 250px;
  margin-right: 20px;
}

.profile {
  text-align: center;
  height: 200px;
  margin-bottom: 20px;
  background-color: #839C74;
  padding: 10px;
  color: #E5E2DA;
}

.voice {
  height: 640px;
  background-color: #D0AE76;
  padding: 10px;
}

.voice-box {
  padding-bottom: 10px;
}

.voice h3 {
  font-size: 16px;
  color: #6F4A2A;
  text-align: center;
  padding-bottom: 10px;
}

.voice-box p {
  font-size: 12px;
  color: #6F4A2A;
}

.service-box {
  width: 560px;
  display: flex;
  padding: 10px;
  background-color: #E4DACD;
  margin-bottom: 20px;
  color: #6F4A2A;
}

.service-box:last-child {
  margin-bottom: 0;
}

.picture {
  background-size: cover;
  width: 250px;
  height: 180px;
  margin-right: 20px;
}

.img1 {
  background-image: url(img/cleaning.jpg);
}

.img2 {
  background-image: url(img/airon.jpg);
}

.img3 {
  background-image: url(img/takuhai.jpg);
}

.img4 {
  background-image: url(img/epron.jpg);
}

.text h4 {
  padding-bottom: 10px;
}


@media screen and (max-width: 425px) {
  h1 {
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .main-visual-text {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .contents {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .service-box {
    display: block;
    text-align: center;
    width: 270px;
  }
  
  .sidebar {
    width: 270px;
    margin-top: 20px;
  }
  
  .profile,.voice {
    height: auto;
  }
  
  .service {
    width: 100%;
  }
  
}