.menu {
  width: 780px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  color: #6F4A2A;
}
.box {
  width: 250px;
  padding: 10px;
  background-color: #E4DACD;
  margin: 20px auto;
}

.box0 {
  width: 250px;
  padding: 10px;
  background-color: #839C74;
  margin: 20px auto;
}

h2 {
  color: #6F4A2A;
  text-align: center;
  padding-top: 20px;
}

.box i {
  font-size: 30px;
  color: #6F4A2A;
  margin-right: 10px;
  float: left;
}

h3 {
 margin-bottom: 10px;
}

span {
  font-size: 12px;
}

p {
  margin-left: 70px;
}

h4 {
  margin-left: 50px;
}

@media screen and (max-width: 425px) {
  .menu {
    width: 400px;
  }
}
  
  
  
  