main {
  color: #6F4A2A;
  font-family: Meiryo;
}

.box2 {
  width: 500px;
  margin: 0 auto 20px auto;
  background-color: #E4DACD;
  padding: 10px;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
}

.box2 a {
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

h4 {
  margin: 0;
}